<section class="video-container">
  <video src="https://player.vimeo.com/external/181445574.hd.mp4?s=d24f32d879305e931468d55e4d7ce6efb5a95c39&amp;profile_id=119" autoplay loop playsinline></video>
  <div class="callout">
    <h1> Stay Active 👍</h1>
    <div>We take care of your shit, so you can enjoy the things that matter most</div>
  </div>
  <div class="support">
    <a href="https://github.com/scasillas">Need to support?</a>
  </div>
</section>


<!-- Intro Start -->
<div class="jumbotron">

  <!-- Wrapper Start -->
  <div class="btn-group" role="group" aria-label="...">
    <h1>Hello, welcome to PumperPal!</h1>
    <p>Book Your Septic Service</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    <p>Book A Portable Toilet</p>
    <p><a class="btn btn-default btn-lg" href="#" role="button">Learn more</a></p>
  </div>
  <!-- Wrapper End -->

</div>
<!-- Intro End -->

